**A Carteira 4Fundos DEF é composta por:**

  * _15% Fidelity Global Cnsmr Inds A-Dis-EUR LU0114721508_
  * _15% GS Glb SmCp CORE® Eq E EUR Acc Close LU0245181838_
  * _15% M&G Optimal Income Euro A-H Acc GB00B1VMCY93_
  * _55% PIMCO GIS Global Bond E Acc EUR H IE00B11XZ103_

**A Carteira 4Fundos EW é composta por:**

  * _25% Fidelity Global Cnsmr Inds A-Dis-EUR LU0114721508_
  * _25% GS Glb SmCp CORE® Eq E EUR Acc Close LU0245181838_
  * _25% M&G Optimal Income Euro A-H Acc GB00B1VMCY93_
  * _25% PIMCO GIS Global Bond E Acc EUR H IE00B11XZ103_

**A Carteira 4Fundos AGR é composta por:**

  * _40% Fidelity Global Cnsmr Inds A-Dis-EUR LU0114721508_
  * _40% GS Glb SmCp CORE® Eq E EUR Acc Close LU0245181838_
  * _10% M&G Optimal Income Euro A-H Acc GB00B1VMCY93_
  * _10% PIMCO GIS Global Bond E Acc EUR H IE00B11XZ103_

In [6]:
suppressMessages(library(PerformanceAnalytics))
suppressMessages(library(lubridate))
suppressMessages(library(quantmod))
suppressMessages(library(stringr))
suppressMessages(library(dplyr))
suppressMessages(library(SIT))

In [26]:
########### Carregar todas as bibliotecas necessárias ##########
options(warn=-1)

suppressMessages(library(PerformanceAnalytics))
suppressMessages(library(PortfolioAnalytics))
suppressMessages(library(quantmod))
suppressMessages(library(formattable))
suppressMessages(library(tseries))
suppressMessages(library(DT))

options(warn=0)
################## Carregar as minhas funções ##################
display <- function(dataframe) {
    print(rbind(head(dataframe, 3), tail(dataframe, 3)))
}

xts_to_dataframe <- function(dataframe) {
  data.frame(date=index(dataframe), coredata(dataframe))
}

dataframe_to_xts <- function(dataframe) {
  xts(data.frame(lapply(dataframe, as.numeric),
                 stringsAsFactors = FALSE),
      order.by = dataframe[, 1])[, -1]
}

quotes_to_numeric <- function(dataframe) {
  cbind(dataframe[1],
        data.frame(lapply(dataframe[-1], as.numeric)))
}

compute_returns.xts <- function(dataframe) {
  xts(apply(dataframe, 2, FUN = Return.calculate),
      order.by = index(dataframe))[-1 ,]
}

quotes_loader <- function(x, Begin="1999-12-31", End="2100-12-31", locf=TRUE,
                          normalize=TRUE, xts = FALSE, returns = FALSE) {

  # Import CSV
  Quotes <- read.csv('C:/Users/Luis/Google Drive/_GitHub/Carteiras_Clientes/Cotacoes_diarias.csv')
  
  # Date column as dates
  Quotes$Date <- as.Date(Quotes$Date, format = "%Y-%m-%d")
  
  # Select only desired funds
  Quotes <- Quotes[c('Date', x)]
  
  # Filtering Quotes by Dates
  Quotes <- na.omit(subset(Quotes, Date >= Begin & Date <= End))
  
  
  # Assigning Quotes to environment
  assign('Quotes', Quotes, envir = .GlobalEnv)
  
  if (xts) {
    Quotes.xts <- dataframe_to_xts(Quotes)
    # Assign Fundos.xts to environment
    assign('Quotes.xts', Quotes.xts, envir = .GlobalEnv)
    
  }
  
    # Create returns if TRUE
  if (returns) {
    # Get Returns dataframe
    Returns.xts <- compute_returns.xts(Quotes.xts)
    # Assign Fundos.xts to environment
    assign('Returns.xts', Returns.xts, envir = .GlobalEnv)
    
  }
}

In [27]:
ISINs  <- c('LU0114721508', 'LU0245181838', 'LU1670724373', "IE00B11XZ103")#, 'F0GBR04E6R', 'F00000Q8QC', 'F00000NGSG', 'F0GBR06T6F')
Nomes <- c('FCI', 'GS_SC', 'MG_OI', 'PimcoGB') #, 'MFS_GE', 'JupiterDB', 'InvescoSC', 'PimcoIG')

In [28]:
#### Begin_End #### 
From <- "2007-04-20" # Data de início
To   <- toString(today()) # Data de Fim

Begin_End <- paste(From, "/", To) # Data de início e fim juntos para xts

In [29]:
# Download dos fundos
quotes_loader(ISINs, xts=TRUE)

Fundos.xts = Quotes.xts

In [30]:
ls()

 [1] "Begin_End"           "compute_returns.xts" "dataframe_to_xts"
 [4] "display"             "F000000FH0"          "F0GBR04EAN"
 [7] "From"                "getFI_best"          "ISINs"
[10] "MSid"                "Nomes"               "Quotes"
[13] "Quotes.xts"          "quotes_loader"       "quotes_to_numeric"
[16] "To"                  "xts_to_dataframe"

In [32]:
tail(Fundos.xts)

           LU0114721508 LU0245181838 LU1670724373 IE00B11XZ103
2019-04-18        60.95        20.98        10.28        24.16
2019-04-19        60.92        20.98        10.28        24.16
2019-04-22        60.83        20.98        10.28        24.13
2019-04-23        61.40        21.22        10.28        24.15
2019-04-24        61.50        21.24        10.28        24.20
2019-04-25        61.62        21.24        10.28        24.20

In [33]:
# Get Returns dataframe
Returns <- xts(apply(Fundos.xts, 2, FUN = Return.calculate),order.by = index(Fundos.xts))[-1 ,]

# Naming the columns in Returns
colnames(Returns) <- Nomes

In [34]:
### Portfolio Weights ####
P1_weights <- c(0.15, 0.15, 0.15, 0.55)
P2_weights <- c(0.25, 0.25, 0.25, 0.25)
P3_weights <- c(0.40, 0.40, 0.10, 0.10)

In [35]:
#### Portfolios ####
Portfolio_1 <- Return.portfolio(Returns,
                                weights = P1_weights,
                                verbose = TRUE,
                                rebalance_on =  "years",
                                value = 100)

#### Portfolios ####
Portfolio_2 <- Return.portfolio(Returns,
                                weights = P2_weights,
                                verbose = TRUE,
                                rebalance_on =  "years",
                                value = 100)

#### Portfolios ####
Portfolio_3 <- Return.portfolio(Returns,
                                weights = P3_weights,
                                verbose = TRUE,
                                rebalance_on =  "years",
                                value = 100)

In [36]:
# Cálculos
Portfolio1 <- xts(round(rowSums(Portfolio_1$EOP.Value), 2), order.by = index(Fundos.xts[-1 ,]))
Portfolio2 <- xts(round(rowSums(Portfolio_2$EOP.Value), 2), order.by = index(Fundos.xts[-1 ,]))
Portfolio3 <- xts(round(rowSums(Portfolio_3$EOP.Value), 2), order.by = index(Fundos.xts[-1 ,]))

In [37]:
Portfolios <- cbind(Portfolio1, Portfolio2, Portfolio3)
colnames(Portfolios) <- c('4Fundos DEF', '4Fundos EW', '4Fundos AGR')

In [38]:
tail(Portfolios)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18      194.85     219.05      237.84
2019-04-19      194.83     219.02      237.80
2019-04-22      194.66     218.87      237.62
2019-04-23      195.41     220.13      239.67
2019-04-24      195.71     220.39      239.97
2019-04-25      195.77     220.50      240.16

In [39]:
# Exportar Portfolios 
write.csv(as.data.frame(Portfolios), 'Portfolios.csv')

In [41]:
#write.csv(as.data.frame(Portfolios), '~/Jupyter/SGC/Portfolios.csv')

In [42]:
#colnames(Returns) <- Nomes
Corr_Matrix <- round(cor(Returns),2)
Corr_Matrix

        FCI  GS_SC MG_OI PimcoGB
FCI     1.00  0.65 0.07   0.01
GS_SC   0.65  1.00 0.04  -0.09
MG_OI   0.07  0.04 1.00   0.28
PimcoGB 0.01 -0.09 0.28   1.00

In [43]:
# Exportar Matrix de correlação 
write.csv(as.data.frame(Corr_Matrix), 'Corr_Matrix.csv')

In [44]:
Preturns <- xts(apply(Portfolios, 2, FUN = Return.calculate),order.by = index(Portfolios))[-1, ]

In [45]:
head(Preturns)

             4Fundos DEF   4Fundos EW  4Fundos AGR
2007-04-24 -0.0013970662 -0.003192975 -0.005387609
2007-04-25  0.0006995103  0.002002002  0.003510884
2007-04-26  0.0005991612  0.001998002  0.003598561
2007-04-27 -0.0008982036 -0.001595214 -0.002589641
2007-04-30  0.0002996704 -0.001298183 -0.002796085
2007-05-01 -0.0009986020 -0.001099890 -0.001602243

In [46]:
DD_DEF <- table.Drawdowns(Preturns[, 1])
DD_EW  <- table.Drawdowns(Preturns[, 2])
DD_AGR <- table.Drawdowns(Preturns[, 3])

In [47]:
DD_DEF['Depth'] <- DD_DEF['Depth'] * 100
DD_EW ['Depth'] <- DD_EW ['Depth'] * 100
DD_AGR['Depth'] <- DD_AGR['Depth'] * 100

In [48]:
DD_DEF

  From       Trough     To         Depth  Length To Trough Recovery
1 2007-06-04 2009-03-09 2009-10-07 -20.91 615    463       152
2 2015-04-16 2016-02-11 2016-08-05  -8.94 342    216       126
3 2018-08-13 2018-12-24 2019-03-29  -6.84 165     96        69
4 2013-05-20 2013-06-24 2013-11-14  -6.03 130     26       104
5 2011-07-12 2011-08-22 2011-12-16  -4.08 114     30        84

In [49]:
DD_EW

  From       Trough     To         Depth  Length To Trough Recovery
1 2007-06-04 2009-03-09 2010-03-04 -30.56 722    463       259
2 2015-04-14 2016-02-11 2016-11-24 -12.72 423    218       205
3 2018-06-18 2018-12-24 2019-04-03 -10.39 209    137        72
4 2011-07-12 2011-08-22 2012-01-03  -7.91 127     30        97
5 2013-05-21 2013-06-24 2013-10-24  -7.01 114     25        89

In [50]:
DD_AGR

  From       Trough     To         Depth  Length To Trough Recovery
1 2007-06-04 2009-03-09 2010-11-26 -43.91 914    463       451
2 2015-04-14 2016-02-11 2016-12-08 -17.50 433    218       215
3 2018-06-15 2018-12-24 2019-04-12 -15.18 217    138        79
4 2011-01-12 2011-08-22 2012-01-17 -13.40 267    160       107
5 2013-05-21 2013-06-24 2013-10-18  -8.45 110     25        85

In [51]:
# Passar as tabelas de Drawdowns para .csv
write.csv(as.data.frame(DD_DEF), 'DD_DEF.csv')
write.csv(as.data.frame(DD_EW) , 'DD_EW.csv' )
write.csv(as.data.frame(DD_AGR), 'DD_AGR.csv')

In [52]:
Nomes_fundos <- c('4Fundos DEF', '4Fundos EW', '4Fundos AGR')
Portfolios.df <- data.frame(Portfolios)
colnames(Portfolios.df) <- Nomes_fundos
rownames(Portfolios.df) <- ymd(rownames(Portfolios.df))

In [53]:
tail(Portfolios.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 194.85      219.05     237.84
2019-04-19 194.83      219.02     237.80
2019-04-22 194.66      218.87     237.62
2019-04-23 195.41      220.13     239.67
2019-04-24 195.71      220.39     239.97
2019-04-25 195.77      220.50     240.16

In [54]:
filter.df.date <- function (df, years=0, months=0, days=0, previous.row=F)
{
  last_date <- ymd(rownames(tail(df, 1)))
  
  year.nr  <- year(last_date)
  month.nr <- month(last_date)
  day.nr   <- day(last_date)
  
  if (month.nr == 1 & months != 0){
    month.nr = 13
  }
  
  if (day.nr == 1 & days != 0 & month.nr %in% c(1, 3, 5, 7, 8, 10, 12)){
    day.nr = 31
    month.nr = month.nr - 1
  }
  
  if (day.nr == 1 & days != 0 & month.nr %in% c(4, 6, 9, 11)){
    day.nr = 32
    month.nr = month.nr - 1
  }
  
  if (day.nr == 1 & days != 0 & month.nr %in% c(2)){
    day.nr = 29
    month.nr = month.nr - 1
  }

  new_date <- ymd(str_replace_all(paste(year.nr - years,'-',
                                        month.nr - months, '-',
                                        day.nr - days),
                                  fixed(' '), ''))
  
  if (previous.row == TRUE){
    new.df <- rbind(tail(subset(df, rownames(df) < new_date), 1),
                    subset(df, rownames(df) >= new_date))
    return(new.df)
  }
  
  if (previous.row == FALSE){
    return(subset(df, rownames(df) >= new_date))
  }
}

In [55]:
one_year.df  <- filter.df.date(Portfolios.df, years=1)
one_year.xts <- xts(one_year.df, order.by = ymd(rownames(one_year.df)))
one_year.xts.ret <- xts(apply(one_year.xts, 2, FUN=Return.calculate), order.by = index(one_year.xts))[-1, ]

In [56]:
head(one_year.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2018-04-25 186.81      205.66     216.59
2018-04-26 187.53      206.74     218.30
2018-04-27 188.13      207.67     219.73
2018-04-30 188.07      207.56     219.62
2018-05-01 187.69      207.09     218.92
2018-05-02 188.16      208.01     220.57

In [57]:
tail(one_year.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 194.85      219.05     237.84
2019-04-19 194.83      219.02     237.80
2019-04-22 194.66      218.87     237.62
2019-04-23 195.41      220.13     239.67
2019-04-24 195.71      220.39     239.97
2019-04-25 195.77      220.50     240.16

In [58]:
cagr_one_year <- round((((tail(one_year.df, 1) / head(one_year.df, 1))) - 1) * 100, 2)
rownames(cagr_one_year) <- 'CAGR'

one_year_sd <- round(t(apply(one_year.xts.ret, 2, FUN=StdDev.annualized)) * 100, 2)
one_year_sharpe <- cagr_one_year / one_year_sd

In [59]:
three_years.df  <- filter.df.date(Portfolios.df, years=3, previous.row=T)
three_years.xts <- xts(three_years.df, order.by = ymd(rownames(three_years.df)))
three_years.xts.ret <- xts(apply(three_years.xts, 2, FUN=Return.calculate), order.by = index(three_years.xts))[-1, ]

In [60]:
head(three_years.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2016-04-22 173.34      183.21     185.47
2016-04-25 172.99      182.80     184.85
2016-04-26 173.12      183.04     184.86
2016-04-27 173.42      183.40     185.32
2016-04-28 173.61      183.43     185.17
2016-04-29 172.76      181.92     182.75

In [61]:
cagr_three_years <- round((((tail(three_years.df, 1) / head(three_years.df, 1)) ^ (1/3)) - 1) * 100, 2)
rownames(cagr_three_years) <- 'CAGR'

three_years_sd <- round(t(apply(three_years.xts.ret, 2, FUN=StdDev.annualized)) * 100, 2)
three_years_sharpe <- cagr_three_years / three_years_sd

In [62]:
five_years.df  <- filter.df.date(Portfolios.df, years=5, previous.row=T)
five_years.xts <- xts(five_years.df, order.by = ymd(rownames(five_years.df)))
five_years.xts.ret <- xts(apply(five_years.xts, 2, FUN=Return.calculate), order.by = index(five_years.xts))[-1, ]

cagr_five_years <- round((((tail(five_years.df, 1) / head(five_years.df, 1)) ^ (1/5)) - 1) * 100, 2)
rownames(cagr_five_years) <- 'CAGR'

five_years_sd <- round(t(apply(five_years.xts.ret, 2, FUN=StdDev.annualized)) * 100, 2)
five_years_sharpe <- cagr_five_years / five_years_sd

In [63]:
head(five_years.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2014-04-24 153.34      156.58     149.03
2014-04-25 152.79      155.74     147.74
2014-04-28 152.65      155.51     147.39
2014-04-29 152.98      155.96     148.09
2014-04-30 153.05      155.98     148.03
2014-05-01 153.18      156.16     148.23

In [64]:
ten_years.df  <- filter.df.date(Portfolios.df, years=10, previous.row=T)
ten_years.xts <- xts(ten_years.df, order.by = ymd(rownames(ten_years.df)))
ten_years.xts.ret <- xts(apply(ten_years.xts, 2, FUN=Return.calculate), order.by = index(ten_years.xts))[-1, ]

cagr_ten_years <- round((((tail(ten_years.df, 1) / head(ten_years.df, 1)) ^ (1/10)) - 1) * 100, 2)
rownames(cagr_ten_years) <- 'CAGR'

ten_years_sd <- round(t(apply(ten_years.xts.ret, 2, FUN=StdDev.annualized)) * 100, 2)
ten_years_sharpe <- cagr_ten_years / ten_years_sd

In [65]:
head(ten_years.df)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2009-04-24 86.28       79.14      68.13
2009-04-27 86.59       79.44      68.40
2009-04-28 86.64       79.38      68.18
2009-04-29 86.94       79.79      68.69
2009-04-30 87.32       80.29      69.28
2009-05-01 87.33       80.21      69.07

In [66]:
one_year_pt <- round(rbind(cagr_one_year, one_year_sd, one_year_sharpe), 2)
rownames(one_year_pt) <- c('CAGR', 'Std.dev', 'Sharpe')

In [67]:
three_years_pt <- round(rbind(cagr_one_year, one_year_sd, one_year_sharpe), 2)
rownames(one_year_pt) <- c('CAGR', 'Std.dev', 'Sharpe')

In [68]:
three_years_pt <- round(rbind(cagr_three_years, three_years_sd, three_years_sharpe), 2)
rownames(three_years_pt) <- c('CAGR', 'Std.dev', 'Sharpe')

In [69]:
five_years_pt <- round(rbind(cagr_five_years, five_years_sd, five_years_sharpe), 2)
rownames(five_years_pt) <- c('CAGR', 'Std.dev', 'Sharpe')

In [70]:
ten_years_pt <- round(rbind(cagr_ten_years, ten_years_sd, ten_years_sharpe), 2)
rownames(ten_years_pt) <- c('CAGR', 'Std.dev', 'Sharpe')

In [71]:
# Passar as tabelas de performance para .csv
write.csv(as.data.frame(one_year_pt), 'one_year_pt.csv')
write.csv(as.data.frame(three_years_pt), 'three_years_pt.csv')
write.csv(as.data.frame(five_years_pt), 'five_years_pt.csv')
write.csv(as.data.frame(ten_years_pt), 'ten_years_pt.csv')

In [72]:
one_year_rolling <- round(data.frame(ROC(Portfolios.df, n = 262, type = "discrete") * 100), 2)
colnames(one_year_rolling) <- Nomes_fundos

In [73]:
tail(one_year_rolling)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 3.42        5.54        8.51
2019-04-19 3.69        5.87        8.96
2019-04-22 3.70        5.84        8.94
2019-04-23 4.18        6.47        9.78
2019-04-24 4.62        7.04       10.51
2019-04-25 4.80        7.22       10.88

In [74]:
one_year_pt

        4Fundos DEF 4Fundos EW 4Fundos AGR
CAGR    4.80        7.22       10.88
Std.dev 3.83        6.18        9.59
Sharpe  1.25        1.17        1.13

In [75]:
three_years_rolling <- data.frame(ROC(Portfolios.df, n = 261 * 3, type = "discrete"))
three_years_rolling <- round(((((1 + three_years_rolling) ^ (1/3)) - 1 ) * 100), 2)
colnames(three_years_rolling) <- Nomes_fundos

In [76]:
tail(three_years_rolling)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 3.92        6.11       8.58
2019-04-19 3.98        6.16       8.66
2019-04-22 3.94        6.11       8.61
2019-04-23 4.15        6.39       9.04
2019-04-24 4.17        6.39       9.09
2019-04-25 4.12        6.33       9.03

In [77]:
three_years_pt

        4Fundos DEF 4Fundos EW 4Fundos AGR
CAGR    4.14        6.37       9.00
Std.dev 3.56        5.68       8.78
Sharpe  1.16        1.12       1.03

In [78]:
five_years_rolling <- data.frame(ROC(Portfolios.df, n = 261 * 5, type = "discrete"))
five_years_rolling <- round(((((1 + five_years_rolling) ^ (1/5)) - 1 ) * 100), 2)
colnames(five_years_rolling) <- Nomes_fundos

In [79]:
tail(five_years_rolling)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 4.97        7.03        9.94
2019-04-19 4.89        6.92        9.76
2019-04-22 4.90        6.95        9.82
2019-04-23 4.97        7.05        9.97
2019-04-24 5.08        7.19       10.19
2019-04-25 5.10        7.23       10.26

In [80]:
five_years_pt

        4Fundos DEF 4Fundos EW 4Fundos AGR
CAGR    5.01        7.09       10.01
Std.dev 4.39        6.82       10.49
Sharpe  1.14        1.04        0.95

In [81]:
ten_years_rolling <- data.frame(ROC(Portfolios.df, n = 261 * 10, type = "discrete"))
ten_years_rolling <- round(((((1 + ten_years_rolling) ^ (1/10)) - 1 ) * 100), 2)
colnames(ten_years_rolling) <- Nomes_fundos

In [82]:
tail(ten_years_rolling)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-18 8.44        10.68      13.31
2019-04-19 8.40        10.63      13.22
2019-04-22 8.35        10.55      13.12
2019-04-23 8.39        10.62      13.25
2019-04-24 8.37        10.58      13.17
2019-04-25 8.30        10.48      13.03

In [83]:
ten_years_pt

        4Fundos DEF 4Fundos EW 4Fundos AGR
CAGR    8.54        10.79      13.43
Std.dev 4.17         6.51      10.11
Sharpe  2.05         1.66       1.33

In [84]:
# write .csv of rolling returns per year
write.csv(as.data.frame(one_year_rolling), 'one_year_rolling.csv')
write.csv(as.data.frame(three_years_rolling), 'three_years_rolling.csv')
write.csv(as.data.frame(five_years_rolling), 'five_years_rolling.csv')
write.csv(as.data.frame(ten_years_rolling), 'ten_years_rolling.csv')

In [85]:
def_rolling <- cbind(one_year_rolling[, 1], three_years_rolling[, 1],
                     five_years_rolling[, 1],ten_years_rolling[, 1])
years <- c('1 Ano', '3 Anos', '5 Anos', '10 Anos')
colnames(def_rolling) <- years

In [86]:
tail(def_rolling)

        1 Ano 3 Anos 5 Anos 10 Anos
[3139,] 3.42  3.92   4.97   8.44
[3140,] 3.69  3.98   4.89   8.40
[3141,] 3.70  3.94   4.90   8.35
[3142,] 4.18  4.15   4.97   8.39
[3143,] 4.62  4.17   5.08   8.37
[3144,] 4.80  4.12   5.10   8.30

In [87]:
ew_rolling <- cbind(one_year_rolling[, 2], three_years_rolling[, 2],
                     five_years_rolling[, 2],ten_years_rolling[, 2])
colnames(ew_rolling) <- years

In [88]:
agr_rolling <- cbind(one_year_rolling[, 3], three_years_rolling[, 3],
                      five_years_rolling[, 3],ten_years_rolling[, 3])
colnames(agr_rolling) <- years

In [89]:
# write .csv of rolling returns per portfolio
write.csv(as.data.frame(def_rolling), 'def_rolling.csv')
write.csv(as.data.frame(ew_rolling),  'ew_rolling.csv')
write.csv(as.data.frame(agr_rolling), 'agr_rolling.csv')

In [90]:
today <-ymd('2017-10-04')
dob   <-ymd('2007-04-23')

In [91]:
as.numeric(difftime(today, dob, unit="weeks"))/52.25

[1] 10.43609

In [92]:
dim(one_year_rolling)

[1] 3144    3

In [93]:
2728 / 10.4360902255639

[1] 261.4006

In [94]:
class(one_year_rolling)

[1] "data.frame"

In [95]:
filter.df.date(five_years.df, days=5)

           4Fundos DEF 4Fundos EW 4Fundos AGR
2019-04-22 194.66      218.87     237.62
2019-04-23 195.41      220.13     239.67
2019-04-24 195.71      220.39     239.97
2019-04-25 195.77      220.50     240.16